[user]
	email = igor.teixeira@cromai.com
	name = igortxra
[alias]
	st = status
	ct = commit
	br = branch
	co = checkout
	l = log --oneline
[url "git@github.com:cromai/"]
	insteadOf = https://github.com/cromai/
[init]
	defaultBranch = development
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
