configuration{
    modi: "drun";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " Apps ";
    font: "Iosevka Nerd 14";
}

@theme "catppuccin-mocha"
