[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Spotify, but ads are auto muted
Icon=spotify
Exec=/bin/sh -c '$HOME/.local/bin/apps/spotify.sh'
Categories="Music Player"
Keywords=Music
StartupWMClass=spotify
StartupNotify=false
